APP_NAME="NombredelaApp"
ADMIN_EMAIL="admin@ejemplo.com"
DATABASE_URL="postgresql+psycopg://nombreusuario:contraseña@localhost:5432/nombrebasededatos"
DATABASE_RAM_URL="sqlite+aiosqlite:///file:testdb?mode=memory&cache=shared&uri=true"
SECRET_KEY="misuperclavesecretasuperdificildeadivinar_shhh"
URL_LOCALHOST_FRONTEND="http://localhost:5173"
URL_ALTERNATIVA_FRONTEND="http://127.0.0.1:5173"
URL_FRONTEND_PRODUCCION="https://code-english-beta.vercel.app/"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
